@font-face {
  font-family: 'TAEBAEKfont';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* App */
.App {
  text-align: center;
  font-family: 'TAEBAEKfont';
  font-size: 12px;
  background-color: #121212;
  /* color: #fff; */
}

.content{
  margin: 50px;
  border: 4px solid #F93121;
  border-radius: 30px;
  background-color: #F9F7F7;
}

.menu-bar{
  background-color: #1B1B2F;
  height: 700px;
  padding: 50px 0;
  color: #fff;
}

.menu-bar p{
  font-size: 1.5rem;
}

.menu-photo{
  width: 200px;
  height: auto;
}

/* Main */
.intro{
  padding: 100px;
  color: #e3e3e3;
}

.intro-1{
  font-size: 4rem;
}
.intro-2{
  font-size: 2rem;
  opacity: 0.7;
}

/* About */
.photo{
  width: 150px;
  height: auto;
  border-radius: 20%;
}
.front-logo3{
  width: 150px;
  height: auto;
}
.front-logo{
  width: 50px;
  height: auto;
}
.back-logo{
  width: 100px;
  height: auto;
}
.version-logo{
  width: 50px;
  height: auto;
}
.design-logo{
  width: 100px;
  height: auto;
}
.communication-logo{
  width: 25px;
  height: auto;
}

/* Projects */


/* Archive */
.archive-fr{
  padding: 0 80px;
}
.tistory-logo{
  width: 30px;
  margin-right: 2px;
}
.github-logo{
  width: 23px;
  margin-right: 5px;
}
.blog-logo{
  width: 23px;
  margin-right: 6px;

}
.my-blog{
  width: 150px;
}

    

    