@font-face {
  font-family: 'Giants-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
.App {
  text-align: center;
  font-family: 'Giants-Bold';
}

.menu-bar{
  background-color: #F8D1D2;
}

.photo{
  width: 150px;
  height: auto;
  border-radius: 20%;
}

